* {
    margin: 0px;
    padding: 0px;
    font: 16px 'Arial', sans-serif;
    border: none;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(162deg, rgba(255,255,255,1) 0%, rgba(198,98,218,1) 54%, rgba(0,129,255,1) 100%);
}

header {
    margin: 50px 20px;

}

header h1 {
    text-align: center;
    font-weight: bold;
}

.header-info {
    display: flex;
    justify-content: space-between
}

.score-btn {
    background-color: rgba(0,129,255,1);
    color: #FFFFFF;
    border-radius: 8px;
    padding: 15px 32px;
}

.info-box {
    margin: auto;
    width: 60%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-title {
    text-align: center;
    margin: 10px 0 10px 0;
}

.intro-title h2 {
    font-weight: bold;
}

.rules {
    margin: 10px 0 25px 25px;
    display: flex;
    justify-content: center;
}

.rules ul {
    list-style: none;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

.start-button {
    background-color: rgba(198,98,218,1);
    color: #FFFFFF;
    width: 50%;
    text-align: center;
}

.quiz-box {
    margin: auto;
    width: 60%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    opacity: 0;
}

.quiz-header-footer {
    margin: auto 50px;
    text-align: right;
}
.question-container {
    margin: auto;
    display: flex;
    flex: 1;
    justify-content: flex-start
}

.question-container h3 {
    font-weight: bold;
    font-size: 48px;
    text-align: left;
    color: #121111;
    flex: 1;
    padding: 25px;
}

.quiz-box.activeQuiz {
    opacity: 1;
    z-index: 10;
}

.option-list {
    margin: auto 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.option {
    margin: 20px;
}

.option-btn {
    background-color: rgba(198,98,218,1);
    color: #FFFFFF;
    border-radius: 12px;
    padding: 15px 32px;
    border: none;
    font-size: 24px;
}

.option-btn:hover {
    background-color: rgb(212 169 221);
}

input[type="radio"] {
    position: relative;
    display: none;
}

input[type=radio]:checked ~ .choice {
    background: paleturquoise;
}

.results-box {
    margin: auto;
    width: 60%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 20px;
}

.results-title {
    margin: 15px auto;
    padding: 15px;
}

.results-title h2 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.retry-btn-wrapper {
    display: flex;
    justify-content: center;
}

.retry-btn {
    background-color: rgba(0,129,255,1);
    color: #FFFFFF;
    border-radius: 8px;
    padding: 15px 32px;
    border: none;
    font-size: 24px;
}